article .title {
    color: darkblue;
    font-weight: bold;
    font-size: 20px;
}

article .information {
    color: darkgray;
    font-size: 13px;
}

article .body {
    width: 100%;
    border-left: 5px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

article .footer {
    margin-top: 0.5rem;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 6px;
}
